body {
  overflow-x: hidden; }

.navbar .nav-link {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

.navbar .nav-item.active {
  border-left: #444 3px solid; }

.carousel-item {
  height: 300px; }

.carousel-image-1 {
  background: url("../images/handicrafts.jpg");
  background-size: 600px; }

.carousel-image-2 {
  background: url("../images/foods.jpg");
  background-size: 530px; }

.carousel-image-3 {
  background: url("../images/manufactured.jpg");
  background-size: 300px; }

.carousel-image-4 {
  background: url("../images/natural.jpg");
  background-size: 350px; }

.carousel-image-5 {
  background: url("../images/agricultural.jpg");
  background-size: 430px; }

.fa {
  font-size: 55px; }

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../images/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../images/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }
  #video-play a {
    color: #fff; }

footer#main-footer {
  background: #000;
  color: #fff; }

#page-header {
  height: 200px;
  background: url("../images/handicrafts.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px; }

#about img {
  margin-top: -50px; }

#faq .card {
  border: #444; }
  #faq .card a {
    color: #fff;
    text-decoration: none; }

#faq .card-body, #faq .card-header {
  background: #333; }
